@use 'variables' as *;
@use 'fonts';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-monospace;
}

#root {
  min-height: 100vh;
}
